# Node.js
node_modules/
dist/
build/
.npm
package-lock.json

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
Pipfile.lock
poetry.lock

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

# Web3 / Blockchain (Hardhat/Foundry)
artifacts/
cache/
typechain-types/
out/
broadcast/
.openzeppelin/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
