# Consolidated Requirements
# FRAMEWORKS
fastapi
flask
django
djangorestframework
flask-cors
django-cors-headers

# DATABASE DRIVERS
sqlalchemy
pymongo
psycopg2-binary
pymysql

# SECURITY & AUTH
python-jose
flask-jwt-extended
djangorestframework-simplejwt
passlib
bcrypt
python-dotenv
